image: python:3.12

pipelines:
  default:
    - step:
        name: Test
        caches:
          - pip
        script:
          - pip install -r requirements.txt
          - python -m playwright install --with-deps chromium
          - pytest --env test --browser chromium --headless --alluredir=allure-results
